*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   display: flex;
   flex-direction: column;
   margin: 40px;
   margin-left: 30px;
   margin-bottom: 30px;
}
.header_top{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 70px;
    margin-left: 40px;
}
.Motors{
    background-color:#eff2f2;
    padding: 10px;
    border-radius:20px ;
    margin-left: 20px;
}
.property{
    background-color:#eff2f2;
    padding: 10px;
    border-radius:20px ;
        margin-left: 20px;
}
.header_top p{
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 500;
}

.input-container {
  position: relative;
  width: 300px;
  margin-top:40px ;
     margin-left: 40px;
  
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search_input{
     width: 450px;
     height: 40px;
     border: 1px solid #ccc;
     padding: 5px;
       
          margin-top:40px ;
     margin-left: 40px;
}
.search{
    border: none;
     width: 50px;
     height: 40px;
     background-color: #002f36;
     margin-left: -5px;
           margin-top:40px ;

}
.login{
    font-size: 18px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
          margin-top:40px ;
          margin-left: 30px;
}
.sell_button{
    width: 130px;
    height: 50px;
    margin-bottom: -20px;
    margin-top: 30px;
}
.mobile_view{
    display: none;
}

summary h1{
    font-size: 20px;
}

.header_bottom{
    display: flex;
    flex-direction: row;
}
.Catagories{
    display: flex;
    flex-direction: column;
         margin-left: 40px;
         margin-top: 30px;
         background-color: #f8f8f8;
}
.tablet_view{
    display: none;
}
.Catagories-header{
    display: flex;
    flex-direction: row;
         margin-left: 40px;
         margin-top: 20px;
}
.Catagories-header h2{
    font-size: 15px;
    gap: 5px;
}
.Catagories-header p {
margin-left: 40px;
cursor: pointer;
}
.main_image img{
    width: 1230px;
    margin-top: 40px;
}
.all_cataory{
    display: flex;
    flex-direction: column;
}
.all_cataory .h1{
    font: 18px;
     margin-top: 50px;
}
.images{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 120px;
     margin-top: 50px;
}
.img img{
    width: 80px;
    cursor: pointer;
}
.img  p{
    color: rgb(66, 65, 65);
    cursor: pointer;
}
.img  p:hover{
    color: blue;
}
.images_2{
     display: flex;
    flex-direction: row;
        gap: 100px;
    margin-left: 120px;
    margin-top: 50px;
}
.Featured_products{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.Featured_products h1{
    font-size: 30px;
    margin-left: 500px;
}
.Featured_products h2{
    
      margin-left: 40px;
      margin-top: 20px;
}

.Mobiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px 30px;
    max-width: 1400px;
    margin: auto;
    font-family: "Inter", sans-serif;
}



.Mobile_product {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    padding: 15px;
    border-radius: 12px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
    overflow: hidden;
}


.Mobile_product:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}



.Mobile_img {
    width: 100%;
    height: 220px;
    overflow: hidden;        
    border-radius: 10px;
}

.Mobile_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;       
    display: block;
    border-radius: 10px;
}
.img img{
    overflow: hidden;
    object-fit: contain;
    
    
}
.img{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Mobile_text {
    margin-top: 12px;
}

.Mobile_text h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0;
    color: #333;
}

.Mobile_text h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 6px 0;
    color:black; 
}

.Mobile_text h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 6px 0;
    color: #444;
}

.Mobile_text h6 {
    font-size: 12px;
    margin-top: 6px;
    color: #777;
}

.Mobile_text p {
    font-size: 13px;
    margin-top: 6px;
    color: #888;
}
.footer12{
   margin-top: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.footer_section{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.text{
    font-size: 20px;
    color:#003e7e;
    gap: 20px;

}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.pic{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pic img{
    width: 130px;
    gap: 10px;
}



.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #f2f4f5;
  color: #002f34;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  text-align: left;
}

.footer-section {
  width: 180px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
  gap: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.apps img {
  width: 120px;
  margin: 8px 0;
  display: block;
}
.app-buttons{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.app-buttons img{
    width: 80px;
}
.footer-bottom {
   
  text-align: center;
  padding: 10px;
  background: #002f34;
  color: white;
  font-size: 14px;
}

@media (max-width: 768px) {
 body{
    width: 100%;
 }
  header {
    margin: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .header_top {
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
  }

  .logo {
    width: 60px;
    margin-left: 20px;
  }

  .Motors, 
  .property {
    margin-left: 10px;
    padding: 8px 12px;
  }

  .header_top p {
    margin-top: 10px;
    font-size: 14px;
  }

  .input-container {
    width: 200px;
    margin-top: 25px;
    margin-left: 20px;
  }

  .input-container i {
    font-size: 14px;
    left: 8px;
  }

  .input-container input {
    padding: 8px 8px 8px 30px;
  }

  .search_input {
    width: 240px;
    height: 38px;
    margin-top: 25px;
    margin-left: 20px;
  }

  .search {
    width: 45px;
    height: 38px;
    margin-top: 25px;
  }

  .login {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 25px;
  }

  .sell_button {
    width: 120px;
    height: 45px;
    margin-top: 25px;
  }

  .tablet_view{
    display: block;
    gap: 30px;
}
 .tablet_view li{
   display: inline-block;
   margin-left: 15px;
   color: blue;
   cursor: pointer;
 

 }
  .tablet_view li:hover{
    color: black;
  }
  .Catagories {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
  }
 .Catagories-header {
    display: none;
 }
 
  .main_image img{
   width: 680px;
    margin-top: 40px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-left: 60px;
     margin-top: 50px;
}
.img img{
    width: 50px;
    cursor: pointer;
    object-fit: contain;
}
.images_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-left: 60px;
     margin-top: 50px;
}
.Featured_products h1{
    font-size: 30px;
    margin-left: 180px;
}
.Mobiles {
    display: grid;
 grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    max-width: 1000px;
    margin: auto;
    font-family: "Inter", sans-serif;
}
 .footer12{
   margin-top: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.footer12 img{
    width: 550px;
}
.footer_section{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.footer-img img{
    width: 200px;
}
.text{
    font-size: 15px;
    color:#003e7e;
    gap: 20px;

}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.pic{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pic img{
    width: 80px;
    gap: 10px;
}
}
@media screen and (max-width: 320px) {

  body {
    max-width: 320px;
    overflow-x: hidden;
  }

  header {
    width: 320px;
    margin: 0;
    padding: 0;
  }

  .header_top {
    flex-direction: row;
    margin-top: 20px;
  
   margin-right: -20px;
    width: 100%;
  }
   .header_bottom{
    display: flex;
    flex-direction: row;
   
   }
  .logo {
    width: 45px;
    margin-left: 10px;
  }
.Catagories-header {
    display: none;
 }
 
  .Motors,
  .property {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .header_top p {
    margin-left: 10px;
    font-size: 12px;
  }

  
 .tablet_view{
    display: block;
    gap: 30px;
}
 .tablet_view li{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   color: blue;
   cursor: pointer;
 

 }
  .tablet_view li:hover{
    color: black;
  }
  .search {
    width: 280px;
    margin-left: 10px;
  }

  
  .Catagories {
    width: 300px;
    margin-left: 10px;
    text-align: left;  }

 

  .main_image img {
    width: 260px;
    margin-left: 5px;
  }
 .h1{
    font-size: 20px;
 }
  .images, .images_2 {
    width: 200px;
    gap: 20px;
margin-left: 40px;
    flex-wrap: wrap;
  }

  .img img {
    width: 40px;
  }
   .img p{
    font-size: 12px;
    color: grey;
   }


  .Featured_products h1 {
    font-size: 30px;
    margin-left: 10px;
  }
.Featured_products h2{
    font-size: 20px;
}
  .Mobiles {
    grid-template-columns: 1fr;
    gap: 15px;
    width: 300px;
    margin-left: 10px;
  }

 
  .footer12 img {
    width: 300px;
  }

  .footer_section {
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
  }

  .footer-img img {
    width: 140px;
  }

  .pic img {
    width: 60px;
  }
  .input-container {
  position: relative;
  width: 100px;
  margin-top:40px ;
     margin-left: 40px;
  
}
.mobile_view{
    display: flex;
    flex-direction: column;
}
.login{
    display: none;
}
.sell_button{
    display: none;
}
.log{
    width: 50px;
    height: 30px;
    margin-left: 30px;
    border: none;
    background-color: transparent;
}
.log:hover{
    text-decoration: underline;
    color: blue;
}
.sell{
    width: 100px;
    height: 50px;
    margin-left: 20px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.search_input{
     width: 150px;
     height: 40px;
     border: 1px solid #ccc;
     padding: 5px;
       
          margin-top:40px ;
    
}
.search{
    border: none;
     width: 30px;
     height: 40px;
     background-color: #002f36;
     margin-left: -5px;
           margin-top:40px ;

}
.login{
    font-size: 18px;
    text-decoration: underline;
    border: none;
    background-color: transparent;
          margin-top:40px ;
          margin-left: 30px;
}
.sell_button{
    width: 130px;
    height: 50px;
    margin-bottom: -20px;
    margin-top: 30px;
}
}
